{% extends "::layout.html.twig" %}
{% block body %}






<div id="wrapper">
  <div id="leftWrapper">
    <div id="listView" class="list">
      <li class="list-item-active"><a href="#">Accueil</a></li>
      <li><a href="#">Nos membres</a></li>
      <li><a href="#">Notre progress</a></li>
      <li><a href="#">Recrutement</a></li>
      <li><a href="#">Forum</a></li>
    </div>
  </div>

  <div id="rightWrapper">
    <div id="header"><a id="fullPage" href="#">|||</a></div>
      <div id="contentWrapper">
        


        <div class="container" id="mainCarousel">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <img src="{{ asset('bundles/kwt/images/caroussel1.jpg') }}" alt="Los Angeles">
              </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>

        <section class="presentation">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h1><u><b>Kana Weed Team</b></u></h1>
                <h2><u>Présentation de la guilde</u></h2><br>

                <p>La guilde <b>KWT</b> est présente sur le serveur : <b>Hyjal</b><br><br>
                L'objectif principal de la guilde actuellement est de créer un groupe capable de partir en groupe de Raid Héroique solide avant d'atteindre le Mythique du même palier.<br>
         
                Nous souhaitons évoluer dans une bonne ambiance, et sans prise de tête. Nous recherchons des personnes matures qui sont prêtes à s'investir pour l'avancée de la guilde.<br><br>

                Notre guilde possède une ambiance très familliale. Pour la petite histoire, il y a 5 gérants dans cette guilde, gérants qui se connaissent IRL depuis plusieurs années. Autant vous dire qu'on rigole bien sur le TS !<br><br>
                

                <b><u>Les soirs de raid :</u></b><br>
                Lundi de 21h à 23h30 (Pour finir nos ID en cours)<br>
                Mercredi de 21h à minuit<br>
                Jeudi de 21h à minuit<br><br>

                <b><u>Pour toutes informations complémentaires vous pouvez contacter en jeu l'un des membres suivant :</b></u><br>
                Faelanor-Hyjal (GM - RL)<br>
                Diox-Hyjal (GM)<br>
                Xmuushu-Hyjal (GM)<br>
                Fantoum-Hyjal (GM)<br>
                Kazarosh-Hyjal (GM)<br><br>
                Vous pouvez aussi nous laisser votre candidature sur le site, l'une des personnes citées ci-dessus vous contactera en jeu.<br><br>
                 
                Bonne visite sur notre site.
              </p>
              </div>
            </div>
          </div>
        </section>

        <section class="selectAccueil">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-xs-6">
                <a href="#">
                <div class="thumbnail">
                  <img src="{{ asset('bundles/kwt/images/logoKWT.png') }}" alt="Roster">
                  <div class="caption">
                    <h3>Membres</h3>
                  </div>
                </div>
                </a>  
              </div>
              <div class="col-md-3 col-xs-6">
                <div class="thumbnail">
                  <img src="{{ asset('bundles/kwt/images/logo.png') }}" alt="Progress">
                  <div class="caption">
                    <h3>Progress</h3>
                  </div>
                </div>  
              </div>
              <div class="col-md-3 col-xs-6">
                <div class="thumbnail">
                  <img src="{{ asset('bundles/kwt/images/logo.png') }}" alt="Recrutement">
                  <div class="caption">
                    <h3>Recrutement</h3>
                  </div>
                </div>  
              </div>
              <div class="col-md-3 col-xs-6">
                <div class="thumbnail">
                  <img src="{{ asset('bundles/kwt/images/logo.png') }}" alt="Forum">
                  <div class="caption">
                    <h3>Forum</h3>
                  </div>
                </div>  
              </div>
            </div>
          </div>
        </section>

        <section class="footer">
          <div class="container">
            <div class="row">
              <div id="rank" class="col-md-6 col-xs-12">
                <a href=https://www.wowprogress.com/guild/eu/hyjal/KWT><img alt='WoW Guild Rankings' src='https://wowprogress.com/guild_img/1396862/out/type.forum/guild_rank.realm/ach_rank.realm' border='0'/></a>
              </div>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>
</div>






{% endblock %}
